header {
    color:#f9faf8;
    background-color: #1f2937;
    font: 48px extra-bold;
}

.h-logo  {
    font-size: 24px;
    color: #f9faf8;
}

.image-placeholder {
    background-color: rgb(56, 56, 56);
    display: flex;
    height: 150px;
    margin: 5px;
    width: 400px;
    text-align: center;
}

.image-placeholder > p {
    align-self: center;
    text-align: center;
    width: 100%;
}

a   {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: inherit;
    cursor: inherit;
  }

  header p    {
    font-size: 18px;
    color: #e5e7eb;
  }